@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

*{
  margin:0;
  padding:0;
  box-sizing:border-box;
 font-family:'Poppins',sans-serif;
}

body{
  background: linear-gradient(45deg,#0f172a,#1e293b);
  color:white;
}

body.light{
  background: linear-gradient(45deg,#fdf2f8,#ffe4ec);
  color:black;
}

.center{
  height:100vh;
  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items:center;
  gap:15px;
}

button{
  padding:10px 20px;
  border:none;
  border-radius:20px;
  background:#3b82f6;
  color:white;
}

body.light button{
  background:#ec4899;
}

/* TOGGLE BUTTON */
header{
  display:flex;
  justify-content:space-between;
  align-items:center;
  padding:15px 20px;
}

/* TOGGLE */
#modeToggle{
  padding:6px 12px;
  border-radius:20px;
  background:#3b82f6;
  color:white;
  cursor:pointer;
}

body.light #modeToggle{
  background:#ec4899;
}